@charset "UTF-8";
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"); }

@font-face {
  font-family: "OpenSansSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"); }

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"); }

html {
  box-sizing: border-box; }

figure {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important; }

*:focus {
  outline: none; }

.clearfix:after {
  content: "";
  display: table; }

body {
  min-width: 1030px;
  font: 13px "OpenSansRegular", "Arial", sans-serif;
  color: #000;
  line-height: 1.2; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

.main-nav__list, .features__list, .tabs__caption, .regular__list {
  margin: 0;
  padding: 0;
  list-style: none; }

a:hover {
  text-decoration: none; }

.container {
  width: 1030px;
  margin: 0 auto;
  padding: 0 15px; }

.header-page {
  margin-bottom: 27px;
  background: url(../img/header__bg.jpg) top center no-repeat; }
  .header-page__dec {
    padding-bottom: 35px;
    background: url(../img/header__bg--bottom.png) bottom center no-repeat; }
  .header-page__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; }
  .header-page__bottom {
    padding-top: 53px; }
  .header-page__nav-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 53px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  .header-page__main {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 34px; }
  .header-page__title {
    margin-top: 0;
    text-align: center;
    color: #fff; }
  .header-page__wrap-btn {
    padding-bottom: 30px;
    text-align: center; }
  .header-page__report-info {
    display: none; }
  .header-page:after {
    content: ' '; }

.sticky .header-page__nav-bar {
  border-bottom: 0; }

.sticky.header-page__top {
  background: #5c98ca;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5); }

.main-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main-nav__item:first-child a {
  margin-left: 0; }

.main-nav__item a {
  text-decoration: none;
  color: #fff;
  margin-left: 28px;
  transition: all 0.3s ease; }
  .main-nav__item a:hover {
    color: #71f0ff; }

.report-head {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 46px;
  padding-bottom: 38px;
  color: #fff; }
  .report-head__title {
    padding-right: 84px;
    font-size: 100px;
    line-height: 1.2;
    text-align: right;
    font-family: "OpenSansLight", "Arial", sans-serif; }
  .report-head__year {
    padding-left: 60px;
    border-left: 1px solid #fff;
    font-size: 265px;
    line-height: 1;
    font-family: "OpenSansBold", "Arial", sans-serif;
    letter-spacing: -18px; }

.btn {
  display: inline-block;
  padding: 0 23px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
  color: #3680be;
  line-height: 24px;
  transition: all 0.3s ease; }
  .btn:hover {
    background: transparent;
    color: #fff; }

.report-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  lex: 1; }
  .report-info__r {
    color: #fff;
    width: 777px; }
  .report-info__l {
    padding-right: 24px; }
  .report-info__photo {
    margin-bottom: 14px;
    border: 1px solid #fff;
    border-radius: 50%; }
    .report-info__photo img {
      width: 197px;
      height: 197px;
      display: block; }

.report-info-name {
  color: #fff;
  text-align: center; }
  .report-info-name__bold {
    font-family: "OpenSansBold", "Arial", sans-serif; }

.on .header-page__dec {
  padding-bottom: 86px; }

.section-page__wrap-description {
  padding-bottom: 32px; }

.section-page--bg .section-page__wrap-description {
  padding-top: 25px; }

.section-title__inner {
  margin: 0;
  padding-bottom: 12px;
  font: 30px "OpenSansSemiBold", "Arial", sans-serif;
  color: #3680be;
  text-align: center; }

.section-title--bg {
  background: #5c98ca; }
  .section-title--bg .section-title__inner {
    padding-bottom: 8px;
    padding-top: 8px;
    color: #fff;
    text-transform: uppercase; }

.features {
  position: relative;
  padding-top: 2px;
  padding-bottom: 114px; }
  .features::after {
    content: " ";
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    height: 1px;
    width: 836px;
    background: #dddddd;
    z-index: 1; }
  .features__list {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .features__items {
    position: relative;
    width: 16.66667%;
    text-align: center;
    cursor: pointer; }
    .features__items--c1.active, .features__items--c1:hover {
      color: #629924; }
      .features__items--c1.active .features__number, .features__items--c1:hover .features__number {
        background: #629924;
        box-shadow: inset 0 0 0 1px #629924;
        color: #fff;
        transition: all 0.3s ease; }
      .features__items--c1.active .features__name, .features__items--c1:hover .features__name {
        color: #629924; }
    .features__items--c2.active, .features__items--c2:hover {
      color: #208ab9; }
      .features__items--c2.active .features__number, .features__items--c2:hover .features__number {
        background: #208ab9;
        box-shadow: inset 0 0 0 1px #208ab9;
        color: #fff;
        transition: all 0.3s ease; }
      .features__items--c2.active .features__name, .features__items--c2:hover .features__name {
        color: #208ab9; }
    .features__items--c3.active, .features__items--c3:hover {
      color: #b42961; }
      .features__items--c3.active .features__number, .features__items--c3:hover .features__number {
        background: #b42961;
        box-shadow: inset 0 0 0 1px #b42961;
        color: #fff;
        transition: all 0.3s ease; }
      .features__items--c3.active .features__name, .features__items--c3:hover .features__name {
        color: #b42961; }
    .features__items--c4.active, .features__items--c4:hover {
      color: #f25331; }
      .features__items--c4.active .features__number, .features__items--c4:hover .features__number {
        background: #f25331;
        box-shadow: inset 0 0 0 1px #f25331;
        color: #fff;
        transition: all 0.3s ease; }
      .features__items--c4.active .features__name, .features__items--c4:hover .features__name {
        color: #f25331; }
      .features__items--c4.active .features__description, .features__items--c4:hover .features__description {
        width: 306px;
        left: -50%; }
    .features__items--c5.active, .features__items--c5:hover {
      transition: all 0.3s ease;
      color: #1d857a; }
      .features__items--c5.active .features__number, .features__items--c5:hover .features__number {
        background: #1d857a;
        box-shadow: inset 0 0 0 1px #1d857a;
        color: #fff; }
      .features__items--c5.active .features__name, .features__items--c5:hover .features__name {
        color: #1d857a; }
      .features__items--c5.active .features__description, .features__items--c5:hover .features__description {
        width: 306px;
        left: -50%; }
    .features__items--c6.active, .features__items--c6:hover {
      color: #d41c22; }
      .features__items--c6.active .features__number, .features__items--c6:hover .features__number {
        background: #d41c22;
        box-shadow: inset 0 0 0 1px #d41c22;
        color: #fff; }
      .features__items--c6.active .features__name, .features__items--c6:hover .features__name {
        color: #d41c22; }
      .features__items--c6.active .features__description, .features__items--c6:hover .features__description {
        width: 306px;
        left: -100%;
        text-align: right; }
  .features__number {
    display: inline-block;
    margin-bottom: 26px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    font: 19px "OpenSansBold", "Arial", sans-serif;
    box-shadow: inset 0 0 0 1px #cbcbcb;
    line-height: 31px;
    text-align: center;
    background: #dddddd;
    color: #fff; }
  .features__name {
    display: block;
    font: 13px "OpenSansBold", "Arial", sans-serif;
    color: #c0c0c0; }
  .features__description {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    text-align: center;
    display: none; }

.features__items.active .features__description {
  display: block; }

.tabs__inner {
  background: #fff; }

.tabs__caption {
  padding: 45px 0;
  background: url(../img/tabs__bg.png) left top no-repeat, url(../img/tabs__bg-bottom.png) left bottom no-repeat;
  text-align: center; }

.tabs__content {
  display: none;
  padding: 20px 0;
  background: #fff; }
  .tabs__content.active {
    display: block; }

.tabs .tabs-item {
  display: inline-block;
  margin: 0 20px;
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s ease; }
  .tabs .tabs-item:hover {
    opacity: 0.9; }
  .tabs .tabs-item--сol1.active {
    color: #00d346;
    opacity: 1; }
  .tabs .tabs-item--col2.active {
    color: #78432f;
    opacity: 1; }
  .tabs .tabs-item--сol3.active {
    opacity: 1;
    color: #1d857a; }
  .tabs .tabs-item--сol4.active {
    color: #fd4141;
    opacity: 1; }
  .tabs .tabs-item--col5.active {
    color: #964251;
    opacity: 1; }
  .tabs .tabs-item--сol6.active {
    opacity: 1;
    color: #6f35ab; }
  .tabs .tabs-item--сol7.active {
    opacity: 1;
    color: #f80058; }
  .tabs .tabs-item--сol8.active {
    opacity: 1;
    color: #00d346; }
  .tabs .tabs-item--сol9.active {
    opacity: 1;
    color: #a7a7a7; }
  .tabs .tabs-item--сol10.active {
    opacity: 1;
    color: #5c98ca; }
  .tabs .tabs-item--сol11.active {
    opacity: 1;
    color: #bb9d74; }
  .tabs .tabs-item--сol12.active {
    opacity: 1;
    color: #006cc6; }

.grid-sl {
  padding: 0 48px; }
  .grid-sl__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 18px 0;
    border-top: 1px solid #ddd; }
    .grid-sl__row:first-child {
      border: 0; }
      .grid-sl__row:first-child .grid-sl__item {
        padding-top: 0; }
  .grid-sl__item {
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-top: 30px; }
    .grid-sl__item::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #ddd; }
    .grid-sl__item:last-child {
      padding-right: 0;
      padding-left: 15px; }
    .grid-sl__item:last-child::after {
      display: none; }

.sl-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 286px; }
  .sl-item__l {
    width: 176px;
    text-align: center; }
  .sl-item__r {
    width: 256px;
    float: left; }
  .sl-item__title {
    padding-bottom: 10px;
    font-size: 16px;
    color: #00d346;
    font-family: "OpenSansSemiBold", "Arial", sans-serif;
    text-transform: uppercase; }
  .sl-item--brown .sl-item__title {
    color: #78432f; }
    .sl-item--brown .sl-item__title a {
      color: #78432f; }
  .sl-item--green .sl-item__title {
    color: #1d857a; }
    .sl-item--green .sl-item__title a {
      color: #1d857a; }

.sl-item__title a {
  color: #00d346;
  text-decoration: none;
  transition: all 0.3s ease; }
  .sl-item__title a:hover {
    opacity: 0.6; }

.slick-slide {
  margin: 0 !important; }

.slick-list {
  text-align: left; }

.slick-dots {
  text-align: left; }

.slick-dots li {
  width: 10px;
  height: 10px;
  padding-bottom: 0; }

.slick-dots li button:before {
  content: ' ';
  width: 8px;
  height: 8px;
  background-color: #ddd;
  box-shadow: 0 0 0 0 1px #cbcbcb;
  border-radius: 50%;
  opacity: 1; }

.slick-dots li.slick-active button:before {
  background: #00d346; }

.sl-item--brown .slick-dots li.slick-active button:before {
  background: #78432f; }

.slick-dots li:first-child {
  margin-left: 0; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slick-prev {
  left: 0; }

.slick-prev, .slick-next {
  width: 26px;
  height: 26px; }

.slick-prev:before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background: url(../img/arrows.png) bottom right no-repeat; }

.slick-next:before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background: url(../img/arrows.png) top right no-repeat; }

.sl-item--brown .slick-prev:before {
  background: url(../img/arrows--br.png) bottom right no-repeat; }

.sl-item--brown .slick-next:before {
  background: url(../img/arrows--br.png) top right no-repeat; }

.slick-prev, .slick-next {
  top: auto;
  bottom: -40px;
  z-index: 10; }

.slick-dotted.slick-slider {
  margin-bottom: 36px; }

.slick-next {
  left: 40px; }

.slick-dots {
  top: -25px; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 1; }

.slick-prev.slick-disabled:before {
  background: url(../img/arrows.png) top left no-repeat; }

.slick-next.slick-disabled:before {
  background: url(../img/arrows.png) bottom left no-repeat; }

.slick-slide {
  margin: 0px 20px; }
  .slick-slide p {
    width: 256px; }

.regular__title {
  font-family: "OpenSansBold", "Arial", sans-serif; }

.regular__list {
  width: 256px; }

.slider {
  margin-top: 25px;
  display: none; }

.slick-list {
  height: 100% !important; }

.container-inner {
  padding: 0 48px; }

.retail {
  padding-top: 16px; }
  .retail__top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 22px; }
  .retail__l {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 58px; }
  .retail__r {
    -webkit-flex: 0 0 252px;
        -ms-flex: 0 0 252px;
            flex: 0 0 252px;
    width: 252px; }
  .retail-title {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold", "Arial", sans-serif;
    font-weight: normal; }
    .retail-title a {
      text-decoration: underline;
      transition: all 0.3s ease; }
      .retail-title a:hover {
        opacity: 0.8;
        text-decoration: none; }
    .retail-title--c1 a {
      color: #fd4141; }
    .retail-title--c2 a {
      color: #964251; }
    .retail-title--c3 a {
      color: #7036ac; }
    .retail-title--c4 a {
      color: #f80058; }
  .retail__bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.col-tr {
  width: 262px;
  margin-left: 60px;
  text-align: center; }
  .col-tr--large {
    width: 262px;
    margin-left: 60px; }
  .col-tr:first-child {
    margin-left: 0; }
  .col-tr__numb {
    padding: 4px 0 20px;
    font-size: 35px;
    color: #fd4141; }
  .col-tr__icon {
    height: 67px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .col-tr__icon img {
      display: block;
      margin: auto auto; }
  .col-tr-title--c2 {
    color: #964251; }
  .col-tr-title--c3 {
    color: #7036ac; }
  .col-tr-title--c4 {
    color: #f80058; }

.corporate {
  padding-top: 16px; }
  .corporate .sl-item__title {
    color: #a7a7a7; }

.corporate-sec {
  padding: 20px 0;
  border-bottom: 1px solid #dddddd; }
  .corporate-sec:first-child {
    padding-top: 0; }
  .corporate-sec:last-child {
    border-bottom: 0; }

.section-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 22px; }
  .section-info__left {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .section-info__right {
    -webkit-flex: 0 0 324px;
        -ms-flex: 0 0 324px;
            flex: 0 0 324px;
    width: 324; }

.corporate-sec--two {
  padding: 40px 0; }

.section-info--two h3 {
  margin-top: 0; }

.section-info--two .section-info__left {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  text-align: right; }

.section-info--two .section-info__right {
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0; }

.section-info--two .wrap-btn-corpo {
  text-align: right;
  margin: 20px 0; }

.section-info--three h3 {
  margin-top: 0; }

.section-info--three .section-info__left {
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  padding-right: 40px; }

.section-info--three .section-info__right {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 128px;
  -webkit-flex: 0 0 128px;
      -ms-flex: 0 0 128px;
          flex: 0 0 128px; }

.corporate-sec--three .section-info__right {
  width: 450px;
  -webkit-flex: 0 0 128px;
      -ms-flex: 0 0 128px;
          flex: 0 0 128px; }

.section-info-title {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
  font-weight: normal; }
  .section-info-title--c1 {
    color: #a7a7a7; }

.columns {
  padding-bottom: 23px; }
  .columns__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .columns__col {
    width: 167px; }
    .columns__col:first-child {
      margin-left: 0; }
  .columns__description {
    padding-top: 15px; }

.columns--three {
  padding-bottom: 0; }

.corpo-partners {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px; }

.corporate-subtitle {
  text-align: center;
  padding-bottom: 22px; }

.wrap-btn-corpo {
  text-align: center; }

.btn-corpo {
  display: inline-block;
  height: 29px;
  line-height: 27px;
  border-radius: 12px;
  padding: 0 17px;
  border: 1px solid #86b7c3;
  color: #fff;
  background: #86b7c3;
  text-decoration: none;
  transition: all 0.3s ease; }
  .btn-corpo:hover {
    background: #fff;
    color: #86b7c3; }

.charts {
  padding-top: 33px; }
  .charts__sec {
    border-bottom: 1px solid #ddd; }
    .charts__sec:last-child {
      border-bottom: 0; }
  .charts__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 36px 0; }
    .charts__row a {
      color: transparent !important; }
  .charts__col {
    width: 50%;
    padding-left: 30px; }
    .charts__col:first-child {
      border-right: 1px solid #ddd; }

.chart-bar .charts__row {
  padding-top: 0; }

.charts-title {
  font-family: "OpenSansSemiBold", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center; }
  .charts-title a {
    color: #ff1c1c;
    transition: all 0.3s ease; }
    .charts-title a:hover {
      opacity: 0.6; }
  .charts-title--bar {
    padding-top: 40px; }
  .charts-title--c2, .charts-title--c2 a {
    color: #006cc6; }

.charts-total__label {
  font-family: "OpenSansBold", "Arial", sans-serif; }
