@import "fonts"
@import "bourbon"
@import "variables"

html 
  box-sizing: border-box

figure
  margin: 0

*, *:before, *:after 
  box-sizing: inherit

*
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important
  outline: none !important
*:focus
  outline: none


.clearfix:after
  content: ""
  display: table
  clear:both

body
  min-width: 1030px
  font: $font-size-root $font-root
  color: $color-root
  line-height: 1.2

p
  margin-top: 0
  margin-bottom: 10px

%ulli
  margin: 0
  padding: 0
  list-style: none

a:hover
  text-decoration: none

.container 
  width: 1030px
  margin: 0 auto
  padding: 0 15px

.header-page
  margin-bottom: 27px
  background: url(../img/header__bg1.jpg) top center no-repeat
  &__dec
    padding-bottom: 35px
    background: url(../img/header__bg--bottom1.png) bottom center no-repeat
  &__top
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 9999
    
    // background: #f9fafb
  &__bottom
    padding-top: 53px
  &__nav-bar
    display: flex
    justify-content: space-between
    align-items: center
    height: 53px
    border-bottom: 1px solid rgba(0,0,0, 0.4)
  &__main
    border-top: 1px solid rgba(255,255,255, 0.3)
    padding-top: 34px
  &__wrap-info
  &__title
    margin-top: 0
    text-align: center
    color: #fff
  &__wrap-btn
    padding-bottom: 30px
    text-align: center
  &__report-info
    display: none
  &:after
    content: ' '
.sticky .header-page__nav-bar
  border-bottom: 0
.sticky.header-page__top
  background: #5c98ca
  box-shadow: 1px 0 5px rgba(0,0,0,.5)
.main-nav
  &__list
    @extend %ulli
    display: flex
      
  &__item
    &:first-child a
      margin-left: 0
    a
      text-decoration: none
      color: #fff
      margin-left: 28px
      transition: all 0.3s ease
      &:hover
        color: #71f0ff


.report-head
  display: flex
  align-items: center
  padding: 0 46px
  padding-bottom: 38px
  color: #fff
  &__title
    padding-right: 84px
    font-size: 100px
    line-height: 1.2
    text-align: right
    font-family: $font-light
  &__year
    padding-left: 60px
    border-left: 1px solid #fff
    font-size: 265px
    line-height: 1
    font-family: $font-root-bold
    letter-spacing: -18px

.btn
  display: inline-block
  padding: 0 23px
  border: 1px solid #fff
  border-radius: 10px
  background: #fff
  text-decoration: none
  color: #3680be
  line-height: 24px
  transition: all 0.3s ease
  &:hover
    background: transparent
    color: #fff

.report-info
  display: flex
  lex: 1
  &__r
    color: #fff
    width: 777px
  &__l
    padding-right: 24px
    // width: 235px
  &__photo
    margin-bottom: 14px
    border: 1px solid #fff
    border-radius: 50%
    img
      width: 197px
      height: 197px
      display: block
.report-info-name
  color: #fff
  text-align: center
  &__bold
    font-family: $font-root-bold
.on
  .header-page__dec
    padding-bottom: 86px


// main
.section-page
  // &__wrap-title
  &__wrap-description
    padding-bottom: 32px
  &--bg
    .section-page__wrap-description
      padding-top: 25px

.section-title
  &__inner
    margin: 0
    padding-bottom: 12px
    font: 30px $font-root-smbold
    color: #3680be
    text-align: center
  &--bg
    background: #5c98ca
    .section-title__inner
      padding-bottom: 8px
      padding-top: 8px
      color: #fff
      text-transform: uppercase



.features
  position: relative
  padding-top: 2px
  padding-bottom: 114px
  &::after
    content: " "
    display: block
    margin: 0 auto
    position: absolute
    top: 17px
    left: 0
    right: 0
    height: 1px
    width: 836px
    background: #dddddd
    z-index: 1
  &__list
    position: relative
    z-index: 2
    @extend %ulli
    display: flex
    justify-content: space-between
  &__items
    position: relative
    width: (100%/6);
    text-align: center
    cursor: pointer
    // &:first-child
    //   text-align: left
    // &:last-child
    //   text-align: right
    &--c1.active, &--c1:hover
      color: #629924
      .features__number
        background: #629924
        box-shadow: inset 0 0 0 1px #629924
        color: #fff
        transition: $transition
      .features__name
        color: #629924
    &--c2.active, &--c2:hover
      color: #208ab9
      .features__number
        background: #208ab9
        box-shadow: inset 0 0 0 1px #208ab9
        color: #fff
        transition: $transition
      .features__name
        color: #208ab9
    &--c3.active, &--c3:hover
      color: #b42961
      .features__number
        background: #b42961
        box-shadow: inset 0 0 0 1px #b42961
        color: #fff
        transition: $transition
      .features__name
        color: #b42961
    &--c4.active, &--c4:hover
      color: #f25331
      .features__number
        background: #f25331
        box-shadow: inset 0 0 0 1px #f25331
        color: #fff
        transition: $transition
      .features__name
        color: #f25331
      .features__description
        width: 306px
        left: -50%
    &--c5.active, &--c5:hover
      transition: $transition
      color: #1d857a
      .features__number
        background: #1d857a
        box-shadow: inset 0 0 0 1px #1d857a
        color: #fff
      .features__name
        color: #1d857a
      .features__description
        width: 306px
        left: -50%
    &--c6.active, &--c6:hover
      color: #d41c22
      .features__number
        background: #d41c22
        box-shadow: inset 0 0 0 1px #d41c22
        color: #fff
      .features__name
        color: #d41c22
      .features__description
        width: 306px
        left: -100%
        text-align: right

  &__number
    display: inline-block
    margin-bottom: 26px
    width: 31px
    height: 31px
    border-radius: 50%
    font: 19px $font-root-bold
    box-shadow: inset 0 0 0 1px #cbcbcb
    line-height: 31px
    text-align: center
    background: #dddddd
    color: #fff
  &__name
    display: block
    font: 13px $font-root-bold
    color: #c0c0c0
  &__description
    position: absolute
    top: 90px
    left: 0
    right: 0
    text-align: center
    // width: 356px
    display: none
.features__items.active
  .features__description
    display: block
    
.tabs
  &__inner
    background: #fff
  &__caption
    padding: 45px 0
    // box-shadow: inset 0 5px 5px #ddd
    background: url(../img/tabs__bg.png) left top no-repeat,
    url(../img/tabs__bg-bottom.png) left bottom no-repeat

    text-align: center
    @extend %ulli
    .active
      

  &__content
    display: none
    padding: 20px 0
    background: #fff
    &.active
      display: block

  .tabs-item
    display: inline-block
    margin: 0 20px
    font-family: $font-root-smbold
    font-size: 16px
    text-transform: uppercase
    text-align: center
    cursor: pointer
    text-decoration: underline
    transition: $transition
    &:hover
      opacity: 0.9
    &--сol1.active
      color: #00d346
      opacity: 1
    &--col2.active
      color: #78432f
      opacity: 1
    &--сol3.active
      opacity: 1
      color: #1d857a
    &--сol4.active
      color: #fd4141
      opacity: 1
    &--col5.active
      color: #964251
      opacity: 1
    &--сol6.active
      opacity: 1
      color: #6f35ab
    &--сol7.active
      opacity: 1
      color: #f80058
    &--сol8.active
      opacity: 1
      color: #00d346
    &--сol9.active
      opacity: 1
      color: #a7a7a7
    &--сol10.active
      opacity: 1
      color: #5c98ca
    &--сol11.active
      opacity: 1
      color: #bb9d74
    &--сol12.active
      opacity: 1
      color: #006cc6


.grid-sl
  padding: 0 48px

  &__row
    display: flex
    padding: 18px 0
    border-top: 1px solid #ddd
    &:first-child
      border: 0
      .grid-sl__item
        padding-top: 0
  &__item
    position: relative
    width: (100%/2)
    padding-right: 15px
    padding-top: 30px
    &::after
      content: " "
      position: absolute
      top: 0
      right: 0
      width: 1px
      height: 100%
      background: #ddd
    &:last-child
      padding-right: 0
      padding-left: 15px
    &:last-child::after
      display: none

.sl-item
  display: flex
  min-height: 286px
  &__l
    width: 176px
    text-align: center
    // float: left
  &__r
    width: 256px
    float: left
  &__title
    padding-bottom: 10px
    font-size: 16px
    color: #00d346
    font-family: $font-root-smbold
    text-transform: uppercase
  &--brown
    .sl-item__title
      color: #78432f
      a
        color: #78432f
  &--green
    .sl-item__title
      color: #1d857a
      a
        color: #1d857a
  &__description
    a
      color: #00d346
.sl-item-l__custom
  text-align: left
.sl-item__title a
  color: #00d346
  text-decoration: underline
  transition: $transition
  &:hover
    opacity: 0.6
    text-decoration: none



// slick
.slick-slide
  margin: 0 !important
.slick-list
  text-align: left
.slick-dots
  text-align: left

.slick-dots li
  width: 10px
  height: 10px
  padding-bottom: 0

.slick-dots li button:before
  content: ' '
  width: 8px
  height: 8px
  background-color: #ddd
  box-shadow: 0 0 0 0 1px #cbcbcb
  border-radius: 50%
  opacity: 1

.slick-dots li.slick-active button:before
  background: #00d346
.sl-item--brown
  .slick-dots li.slick-active button:before
    background: #78432f

.slick-dots li:first-child
  margin-left: 0

.slick-dotted.slick-slider
  margin-bottom: 0
.slick-prev
  left: 0

.slick-prev, .slick-next
  width: 26px
  height: 26px
.slick-prev:before
  content: ''
  display: block
  width: 26px
  height: 26px
  background: url(../img/arrows.png) bottom right no-repeat
.slick-next:before
  content: ''
  display: block
  width: 26px
  height: 26px
  background: url(../img/arrows.png) top right no-repeat
.sl-item--brown
  .slick-prev:before
    background: url(../img/arrows--br.png) bottom right no-repeat
  .slick-next:before
    background: url(../img/arrows--br.png) top right no-repeat

.slick-prev, .slick-next
  top: auto;
  bottom: -40px
  z-index: 10
.slick-dotted.slick-slider
  margin-bottom: 36px
.slick-next 
  left: 40px
.slick-dots
  top: -25px

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
  opacity: 1
.slick-prev.slick-disabled:before
  background: url(../img/arrows.png) top left no-repeat
.slick-next.slick-disabled:before
  background: url(../img/arrows.png) bottom left no-repeat
.slick-slide
  margin: 0px 20px
  p
    width: 256px
.regular
  &__title
    font-family: $font-root-bold
  &__list
    width: 256px
    @extend %ulli

.slider 
    margin-top: 25px
    display: none

.slick-list
  height: 100% !important

.container-inner
  padding: 0 48px
.retail
  padding-top: 16px
  &__top
    display: flex
    padding-bottom: 22px
  &__l
    flex: 1
    padding-right: 58px
  &__r
    flex: 0 0 252px
    width: 252px
  &-title
    font-size: 16px
    text-transform: uppercase
    font-family: $font-root-smbold
    font-weight: normal
    a
      text-decoration: underline
      transition: $transition
      &:hover
        opacity: 0.8
        text-decoration: none
    &--c1 a
      color: #fd4141
    &--c2 a
      color: #964251
    &--c3 a
      color: #7036ac
    &--c4 a
      color: #f80058
  &__bottom
    display: flex

.col-tr
  width: 262px
  margin-left: 60px
  text-align: center
  &--large
    width: 262px
    margin-left: 60px
  &:first-child
    margin-left: 0
  &__numb
    padding: 4px 0 20px
    font-size: 35px
    color: #fd4141
  &__icon
    height: 67px
    display: flex
    img
      display: block
      margin: auto auto
  &-title--c2
    color: #964251
  &-title--c3
    color: #7036ac
  &-title--c4
    color: #f80058


// .corporate
.corporate
  padding-top: 16px
  .sl-item__title
    color: #a7a7a7
    a
      color: #a7a7a7
.corporate-sec
  padding: 20px 0
  border-bottom: 1px solid #dddddd
  &:first-child
    padding-top: 0
  &:last-child
    border-bottom: 0
.section-info
  display: flex
  padding-bottom: 22px
  &__left
    flex: 1
    // padding-right: 58px
  &__right
    flex: 0 0 350px
    width: 350
  &__container-link
    color: #5c98ca
  &__link
    color: #5c98ca
.section-info-custom-r
  width: 290
  flex: 0 0 290px
.corporate-sec--two
  padding: 40px 0

.section-info--two
  h3
    margin-top: 0
  .section-info__left
    order: 1
    text-align: right
  .section-info__right
    order: 0
  .wrap-btn-corpo
    text-align: right
    margin: 20px 0

.section-info--three
  h3
    margin-top: 0
  .section-info__left
    order: 0
    padding-right: 40px
  .section-info__right
    order: 1
    width: 128px
    flex: 0 0 128px
.section-info-three--custom
  .section-info__right
    order: 1
    width: 350px
    flex: 0 0 350px
.section-info-three--custom
  .section-info__right
    padding-top: 33px
.corporate-middle--leasing
  .columns__row
    display: block
    padding-top: 20px
  .columns__col
    float: left
    width: 222px
    &:first-child
      margin-right: 50px
.corporate-sec--three
  .section-info__right
    width: 450px
    flex: 0 0 450px
.section-info-title
  font-size: 16px
  text-transform: uppercase
  font-family: "OpenSansSemiBold", "Arial", sans-serif
  font-weight: normal
  a
    transition: $transition
    &:hover
      opacity: 0.8
  &--c1
    color: #a7a7a7
    a
      color: #a7a7a7
  &--c2
    color: #5c98ca
    a
      color: #5c98ca
  &--c3
    color: #bb9d73
    a
      color: #bb9d73

.columns
  padding-bottom: 23px
  &__row
    display: flex
    text-align: center
    justify-content: space-between
  &__col
    width: 167px
    // margin-left: 40px
    &:first-child
      margin-left: 0
  &__description
    padding-top: 15px
  &__icon
    height: 58px
  &__title
    color: #a7a7a7
    font-size: 34px
    padding: 10px 0 10px
  &__title-c1
    color: #dc5e39
.columns-col-custom
  width: 180px
.columns-custom-col
  width: 280px
.columns--three
  padding-bottom: 0
.corpo-partners
  flex: 1
  display: flex
  align-items: center
  justify-content: space-between
  padding-bottom: 20px
.corporate-subtitle
  text-align: center
  padding-bottom: 22px

.wrap-btn-corpo
  text-align: center
.btn-corpo
  display: inline-block
  height: 29px
  line-height: 27px
  border-radius: 12px
  padding: 0 17px
  border: 1px solid #86b7c3
  color: #fff
  background: #86b7c3
  text-decoration: none
  transition: $transition
  &:hover
    background: #fff
    color: #86b7c3


.charts
  padding-top: 33px
  &__sec
    border-bottom: 1px solid #ddd
    &:last-child
      border-bottom: 0
  &__row
    display: flex
    // justify-content: space-between
    padding: 36px 0
    a
      color: transparent !important
  &__col
    width: 50%
    padding-left: 30px
    &:first-child
      border-right: 1px solid #ddd
      
.chart-bar
  .charts__row
    padding-top: 0

.charts-title
  font-family: $font-root-smbold
  font-size: 16px
  text-transform: uppercase
  text-align: center
  color: #ff1c1c
  &--bar
    padding-top: 40px
  &--c2, &--c2 a
    color: #006cc6
.charts-total
  // text-align: center
  // padding-left: 10px
  &__label
    font-family: $font-root-bold






// interbank
.interbank
  padding: 30px 0
.interbank-row
  overflow: hidden
  &--l
    text-align-last: 
    img
      float: left
      padding-right: 28px
  &--r
    text-align: right
    img
      float: right
      padding-left: 28px
  &__text
    padding-top: 30px
    a
      color: #1774c1
.interbank-row-text-custom
  padding-top: 17px

.finance-middle
  width: 520px
  float: left
  .columns__row
    width: 520px
    margin-top: 17px
  .columns__col:first-child
    width: 328px
.section-info-dec1
  text-align: right
  // width: 197px
  // flex: 0 0 197px
.finance-sec
  overflow: hidden


.finance-right
  float: right
  width: 340px
  margin-top: -125px
.fin-feature
  @extend %ulli

.fin-feature__r
  float: right
  padding-left: 33px

.fin-feature__item
  overflow: hidden
  padding-bottom: 46px
  &:last-child
    padding-bottom: 0

.fin-feature__l
  text-align: right
  padding-top: 12px

.fin-feature__title
  font-family: $font-root-bold
  font-size: 13px

.fin-feature__link
  color: #6da4b1

.finance__wrap-btn
  text-align: center
  margin-bottom: 20px
  .btn-corpo
    border: 1px solid #5c98ca
    background: #5c98ca
    &:hover
      background: #fff
      color: #5c98ca
.charts__sec-top
  margin-bottom: 20px

// media
@import "media"